@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button:hover span:last-child {
  transform: translateX(0);
}

.custom-spin {
  animation: spin 8s linear infinite; /* Altere 2s para o valor desejado */
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.text-shadow {
  text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.7),
    /* contorno preto */ -1px -1px 0px rgba(0, 0, 0, 0.7),
    1px -1px 0px rgba(0, 0, 0, 0.7), -1px 1px 0px rgba(0, 0, 0, 0.7);
}
