@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@import url("https://db.onlinewebfonts.com/c/f3edd9d7f2d3ce0f858aaeb2444eb457?family=DK+Lemon+Yellow+Sun");

button:hover span:last-child {
  transform: translateX(0);
}

.custom-spin {
  animation: spin 8s linear infinite; /* Altere 2s para o valor desejado */
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.text-shadow {
  text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.7),
    /* contorno preto */ -1px -1px 0px rgba(0, 0, 0, 0.7),
    1px -1px 0px rgba(0, 0, 0, 0.7), -1px 1px 0px rgba(0, 0, 0, 0.7);
}

.light-sweep {
  font-size: 48px; /* Tamanho da fonte */
  font-weight: bold; /* Texto em negrito */
  color: #007bff; /* Cor azul */
  background: linear-gradient(
    90deg,
    transparent,
    #ffffff,
    /* Cor da linha de luz */ transparent
  ); /* Gradiente para o efeito de luz */
  background-size: 200% 100%; /* Tamanho do gradiente */
  -webkit-background-clip: text; /* Aplica o gradiente ao texto */
  background-clip: text;
  color: transparent; /* Torna o texto transparente para mostrar o gradiente */
  animation: sweep 3s linear infinite; /* Animação */
}

@keyframes sweep {
  0% {
    background-position: -100% 0; /* Começa à esquerda */
  }
  100% {
    background-position: 100% 0; /* Termina à direita */
  }
}

/* #moving-shape {
  border-radius: 50% 50% 50% 50%; 
  transition: all 0.3s ease-in-out;
} */

/* #moving-shape:hover {
  border-radius: 60% 50% 40% 50%;
  transform: scale(1.1);
} */

/* #moving-shape {
  width: 150px;
  height: 150px;
  background-color: #55becd;
  clip-path: path("M0 0C224.707 180.698 360.028 187.273 621 0H0Z");
  transition: all 0.3s ease-in-out;
} */
